.bg
{
    height: 400px;
    width: 800px;
    border: 5px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(pexels-pixabay-531880.jpg);
    background-position: center;
}
img
{
    height: 200px;
    width: 200px;
     
    border-radius: 50%;
     margin-top: 30px;
    margin-left: 90px;
    display: inline-block;
 
}
p{
    height: 200px;
    width: 200px;
    text-align:left;
    margin-top: -170px;
    margin-left: 300px;
}
h1{
    margin-left: 130px;
   margin-top: -50px;
}
h4{
     margin-left: 150px;
   margin-top: -20px;
}
h2{
     margin-left: 300px;
   margin-top: -50px;
   color: purple;
   

}
span{
    margin-left: 50px;
}



